<!DOCTYPE html>
<html lang="fa">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Raque - Education &amp; LMS HTML Template">
    <meta name="description" content="Raque - Education &amp; LMS HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- Links of CSS files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap..min.css">
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="~/assets/css/viewer.min.css">
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/rtl.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"> *@
    <title>@ViewData["title"]</title>

    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
</head>

    <body>
    <input type="hidden" id="SystemAlertTempData" value="@TempData["SystemAlert"]" />
    <!-- Preloader -->
    <div class="preloader preloader-deactivate">
        <div class="loader">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- End Preloader -->
    
    @RenderBody()

    <!-- Links of JS files -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/mixitup.min.js"></script>
    <script src="~/assets/js/parallax.min.js"></script>
    <script src="~/assets/js/jquery.appear.min.js"></script>
    <script src="~/assets/js/odometer.min.js"></script>
    <script src="~/assets/js/particles.min.js"></script>
    <script src="~/assets/js/meanmenu.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/viewer.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/form-validator.min.js"></script>
    <script src="~/assets/js/contact-form-script.js"></script>
    <script src="~/assets/js/main.js"></script>
    @* <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@
    <script src="~/assets/global/global.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script> *@
    <script src="~/assets/toastmessage/toasthelper.js"></script>
    <partial name="_ValidationScriptsPartial"/>

    <style type="text/css">
        .typewrite > .wrap {
            border-left: 4px solid #000000
        }</style>
</body>
</html>